<system-head>

</system-head>
<div class="container">
    <p class="alert alert-info" ng-show="message.length">{{message}}</p>
    <div class="row">
        <div class="col-md-6">
            <form name="pictureForm" novalidate ng-submit="save()">
                <div class="form-group">
                    <fieldset ng-disabled="picture._id.length">
                        <label>File:</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <label class="btn btn-info" title="Upload">
                                    <input type="file" name="upload" ng-change="picture.file=archive.upload.name" ngf-select ng-model="archive.upload" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="4MB" />
                                    <i class="glyphicon glyphicon-cloud-upload"></i>
                                </label>
                            </span>
                            <input class="form-control" name="file" ng-model="picture.file" ng-readonly="true" required />
                        </div>
                        <span class="form-control alert-danger" ng-show="pictureForm.upload.$error.maxSize">Too Large! (MAX 4MB)</span>
                    </fieldset>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <input class="form-control" name="description" ng-model="picture.description" ng-maxlength="240" />
                    <span class="form-control alert-danger" ng-show="pictureForm.description.$error.maxlength">Too Large! (MAX 240)</span>
                </div>
                <button class="btn btn-success" type="submit" title="Save" ng-disabled="pictureForm.$invalid">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <a class="btn btn-default" href="/" title="Back" picture-submitted>
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </form>
            <hr />
        </div>
        <div class="container">
            <div class="col-md-6">
                <picture-panel class="col-sm-12 col-md-12 col-lg-12" picture="picture" ng-show="pictureForm.$valid">
                    <img class="img-responsive center-block" ng-show="archive.upload" ngf-thumbnail="archive.upload || ''">
                    <img class="img-responsive center-block" ng-hide="archive.upload" src="/resources/upload/{{picture._id + '.' + picture.file.split('.').pop()}}" title="{{picture.description}}">
                </picture-panel>
            </div>
        </div>
    </div>
</div>
<system-footer>

</system-footer>